<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Innovatec</h3>
      <p>Impulsando la transformación digital y la eficiencia en la gestión pública y empresarial con soluciones tecnológicas innovadoras.</p>
    </div>
    <div class="footer-section">
      <h3>Accesos Rápidos</h3>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/contacto">Contáctenos</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contacto</h3>
      <p><mat-icon>location_on</mat-icon> Villa Clara, Cuba</p>
      <p><mat-icon>phone</mat-icon> +53 5 4160195</p>
      <p><mat-icon>email</mat-icon> innovatecsurl&#64;gmail.com</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{currentYear}} Innovatec. Todos los derechos reservados.</p>
  </div>
</footer> 